.m-list-view-item {
  background: #fff;
  overflow-wrap: break-word;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;

  &--column {
    display: grid;
    grid-template-columns: minmax(0,1fr);
    padding: 20px;

    @include breakpoint('s') {
      grid-template-columns: 0.2fr 1.8fr;
    }
  }
}

.m-list-view-item__image {
  height: 350px;
  background: $primar-color;
  background-size: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  &--column {
    width: 100%;

    @include breakpoint('s') {
      min-width: 180px;
      width: 180px;
    }

    border: 1px solid #ddd;
    padding: 10px;
  }
}

.m-list-view-item__image-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(360deg, rgb(7, 14, 65, .73) 10%, rgba(4, 26, 175, 0) 100%);
  width: 100%;
  height: 100%;
  padding: 34px;
  box-sizing: border-box;

  @include breakpoint('s') {
    padding: 24px;
  }
}

.m-list-view-item__button {
  margin-top: 20px;
  width: 100%;
}

.m-list-view-item__title {
  margin-top: 0;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $primar-color;

  &--column {
    margin-top: 0;
  }
}

.m-list-view-item__content-wrapper {
  padding: 20px;

  a {
    color: $primar-color;
  }

  &--column {
    padding: 0;
    padding-top: 20px;

    @include breakpoint('s') {
      padding: 20px;
      padding-top: 0;
    }
  }
}

.m-list-view-item__cuttext {
  padding: 20px;

  &--column {
    padding: 0;
  }
}

.m-list-view-item__readmore {
  background: #fff;
  padding: 0 20px 10px 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  a {
    color: $primar-color;
  }

  &--column {
    padding: 0;
  }
}

.m-list-view-item__footer {
  border-top: solid 1px #DDD;
  padding-top: 5px;
  font-size: 11px;
  color: #7B848D;
}

.m-list-view-item__footer .fa {
  margin: 0 5px 0 10px;
}
