.idea
.vscode
.DS_Store
Thumbs.db

vendor
node_modules

/config/console-local.php
/config/db.php
/config/db-local.php
/config/params.php
/config/params-local.php
/config/web.php
/config/web-local.php

/web/sitemap*.xml
/web/img/posts
/web/uploads
/web/js/app.js
/web/css/app.css

server/nginx/conf.d/site.conf
