.b-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #000;
  padding: 20px 0;

  @include breakpoint('s') {
    flex-direction: column;
  }
}

.b-footer__menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 15px;
  text-align: center;

  @include breakpoint('s') {
    flex-direction: row;
    padding-top: 0;
  }
}

.b-footer__menu-item {
  text-decoration: underline;
  color: $primar-color;

  &:hover {
    text-decoration: none;
  }
}
