.b-page {
  display: grid;
  padding: 0 20px 20px 20px;
  background: #fff;
  border-radius: 10px;
}

.b-page--transparent {
  background: none;
  border-radius: 0;
  border: none;
}

.b-page:not(.b-page--transparent) {
  margin: 20px;
}

.b-page--list-view :deep(.list-view) {
  display: grid;
  grid-template-columns: minmax(0,1fr);
  
  @include breakpoint('m') {
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
  }
}
