.m-material-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;

  @include breakpoint('s') {
    flex-direction: row;
  }
}

.m-material-filter__item {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px 16px;
  border-radius: 5px;
  width: 100%;
  background: $primar-color;
  color: #fff;

  @include breakpoint('s') {
    width: auto;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
